<html lang="en">
    
<%- include('../partials/head.ejs') %> 

    <body>
        <h1>naked creates blogs</h1>
        <h2>im documenting my ultralearning exprience</h2>
        
        <%- include('../partials/nav.ejs') %> 

        <div class="create-blog content">
            <form action="/blogs" method="POST">
                <label for="title">new blog title: </label>
                <input type="text" id="title" name="title" required>
                <label for="snippet">blog snippet: </label>
                <input type="text" id="snippet" name="snippet" requried>
                <label for="body">blog content: </label>
                <textarea id="body" name="body" required></textarea>
                <button>submit</button>
            </form>
        </div>      
        
        <%- include('../partials/footer.ejs') %> 
    </body>
</html>