<nav>
    <div class="site-title">
        <a href="/">Go to homepage</a>
        <p>a naked guacamole site</p>
    </div>
    <ul>
        <li><a href="/">naked blog</a></li>
        <li><a href="/about">naked truth</a></li>
        <li><a href="/blogs/create">add blog</a></li>
    </ul>
</nav>