<html lang="en">
    
<%- include('./partials/head.ejs') %> 

    <body>
        <h1>naked truth</h1>
        <h2>im learning web development</h2>
        
        <%- include('./partials/nav.ejs') %> 

        <div class="about content">
            <h2>all naked truths</h2>
            <p>im trying to see if development is for me</p>
            <p>havent fully figured out what is it that i want to do yet</p>
            <p>i will know more about what I want to do by the end of this summer</p>
        </div>   
        
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>